body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.selected-row {
  background: lightgray;
}

.table tr {
    height: 35px;
}
.table td {
    vertical-align: middle;
}

.table .name-cell {
  font-weight: bold;
}

.action-cell.great {
    background-color: #b7e1cd;
}

.action-cell.medium {
    background-color: #fff2cc;
}

.action-cell.worse {
    background-color: #e09999;
}

.total-cell {
  font-weight: bold;
}

.total-cell.great {
  background-color: #b7e1cd;
}

.total-cell.medium {
  background-color: #fff2cc;
}

.total-cell.worse {
  background-color: #e08888;
}
/*
div.minus-button {
  background: lightgrey;
}

div.plus-button {
  background: lightgrey;
}
*/